.header {
  border-bottom: 1px solid #ececec;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    @include flex-center();
  }
}
.top-nav {
  @media screen and (min-width: 768px) {
    @include flex-center();
  }
}
.header__nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    & .header__item + .header__item {
      margin-left: 50px;
    }
  }
}
.header__nav-right {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    & .header__item + .header__item {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    & .header__item + .header__item {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}
.contact__link {
  @media screen and (min-width: 768px) {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    @include font($fz: 14px, $lh: 1.14);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms var(--time-deploy);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &.current {
      color: var(--accent-color);
      position: relative;
    }
    &.current::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}
.adress__icon {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
    fill: currentColor;
    transition: fill 250ms var(--time-deploy);
    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.adress__link {
  @media screen and (min-width: 768px) {
    @include flex-center();
    font-weight: 500;
    @include font($fz: 12px, $lh: 1.16);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms var(--time-deploy);
    @media screen and (min-width: 1200px) {
      padding: 32px 0;
      @include font($fz: 14px, $lh: 1.14);
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
// Mobile
.mobile__menu-container {
  position: fixed;
  background-color: var(--rare-text-color);
  width: 100vw;
  top: 0;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 2;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu__button-open,
.menu__button-close {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms var(--time-deploy);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu__button-close {
  position: absolute;
  right: 15px;
  top: -37px;
}
.mobile__menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile__menu-link {
  font-weight: 500;
  @include font($fz: 40px, $lh: 1.17);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--time-deploy);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile_contacts-list {
  margin-bottom: 64px;
}
.mobile__contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile__contacts-link {
  font-weight: 500;
  font-size: 24px;
  @include font($fz: 24px, $lh: 1.16);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms var(--time-deploy);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile__contacts-style {
  font-size: 34px;
  line-height: 1.17;
}
.mobile_social-list {
  display: flex;
}
.mobile__social-item {
  &:not(:last-child) {
    margin-right: 10px;
    .mobile__social-link {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
.mobile__social-link {
  font-weight: 500;
  @include font($fz: 18px, $lh: 1.22);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
}
.mobile__menu-container.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms var(--time-deploy), visibility 250ms var(--time-deploy);
}
