.style-scope-button {
  font-weight: 500;
  @include font($fz: 16px, $lh: 1.62);
  padding: 6px 22px;
  text-align: center;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--background-context-color);
  border-color: transparent;
  cursor: pointer;
  transition: color 250ms var(--time-deploy), background-color 250ms var(--time-deploy),
    box-shadow 250ms var(--time-deploy);
  &:hover,
  &:focus {
    color: var(--rare-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  @media screen and (min-width: 150px) and (max-width: 767px) {
    margin-top: -21px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
    @include flex();
    flex-wrap: nowrap;
    .item + .item {
      margin-left: 8px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.item {
  margin-right: 8px;
  margin-top: 21px;
}
.title-adverb {
  font-weight: bold;
  @include font($fz: 18px, $lh: 2);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.text {
  margin-top: 4px;
  @include font($fz: 16px, $lh: 1.87);
  color: var(--secondary-text-color);
}
.portfolio-items {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: -30px;
    margin-top: -30px;
    & > .portfolio-item {
      margin-left: 30px;
      margin-top: 30px;
      @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 30px);
      }
      @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 3 - 30px);
      }
    }
  }
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.portfolio-card {
  padding: 20px 24px;
  border: 1px solid #ececec;
  border-top: 0;
}
.text-hidden {
  position: absolute;
  @media screen and (max-width: 420px) {
    @include font($fz: 12px, $lh: 1.67);
  }
  @include font($fz: 18px, $lh: 1.56);
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  color: #ffffff;
  background-color: rgba(33, 149, 243, 0.9);
  border-bottom: 0;
  margin: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--time-deploy);
  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0%);
  }
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.grow {
  flex-grow: 1;
}
